{% extends 'base.html' %}

{% block title %} All blogs {% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row">
	<div class="col-md-8">
	<h2>All blogs </h2>
    {% for obj in queryset %}
    	{% for cat in obj.categories.all %}
    		<a href="#">{{ cat }}</a>
    	{% endfor %}

    <h1><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h1>
    <img src="{{ obj.image.url }}" width="100px" height="80px">
    <p>{{ obj.created_by }} | {{ obj.created_at }} | Comments:{{ obj.get_comment_count }}</p>
        <p>Views:{{ obj.view_count }}</p>
        {% endfor %}


{% include 'tools/listviewpaginator.html' %}

    </div>

{% include 'tools/sidebar.html' %}
        </div>
</div>


{% endblock %}