{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
<div class="mb-5">
	<h2>Featured </h2>
    {% for obj in featured %}
    	{% for cat in obj.categories.all %}
    		<a href="#">{{ cat }}</a>
    	{% endfor %}
    <h1><a href="{% url 'post_detail' slug=obj.slug %}">{{ obj.title }}</a></h1>
    <img src="{{ obj.image.url }}" width="100px" height="80px">
    <p>{{ obj.created_by }} | {{ obj.created_at }} | {{ obj.get_comment_count }}</p>
        {% endfor %}
</div>


<div class="mb-5">
	<h2>Latest </h2>
    {% for obj in latest %}
    	{% for cat in obj.categories.all %}
    		<a href="#">{{ cat }}</a>
    	{% endfor %}
    <h1><a href="{% url 'post_detail' slug=obj.slug %}">{{ obj.title }}</a></h1>
    <img src="{{ obj.image.url }}" width="100px" height="80px">
    <p>{{ obj.created_by }} | {{ obj.created_at }} | {{ obj.get_comment_count }}</p>
        {% endfor %}


</div>
            </div>

        {% include 'tools/sidebar.html' %}
</div>
    </div>
{% endblock %}