{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<div class="container">

<div class="row">
    <div class="col-md-8">
            <img src="{{ post.image.url }}" width="100%" height="400px">
        {% for cat in post.categories.all %}
    		<a href="#">{{ cat }}</a>
    	{% endfor %}

        {% if user.is_superuser %}
        <div>
            <a href="{% url 'post_update' slug=post.slug %}">Update</a>
            <a href="{% url 'post_delete' slug=post.slug %}">Delete</a>
        </div>
        {% endif %}
    <h1>{{ post.title }}</h1>
    <h3>{{ post.created_by }} | {{ post.created_at }}</h3>


    <p>{{ post.description }}</p>


    <h2>Comments : {{ post.get_comment_count }}</h2>
        <h2>Views:{{ post.view_count }}</h2>
    {% for comment in post.get_comments %}
    <h3>{{ comment.message }}</h3>
    <p>{{ comment.created_by }} | {{ comment.created_at }}</h6>
    {% endfor %}


    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>

    {% else %}

    <div class="mt-2">
        Need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">Create account</a>  to write comment
    </div>

    {% endif %}

    </div>

    {% include 'tools/sidebar.html' %}

</div>
</div>
{% endblock %}